/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    background-color: #f9f9f9;
    color: #333;
    padding: 0;
    margin: 0;
}

/* header, */
header {
    display: flex;
    padding: 20px;
    background-color: #b2b866;
    color: white;
}

header h1 {
    font-size: 1.5rem;
    margin-left: 8px;
}

/* Navigation styles */

nav ul {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2rem;
    padding: 0;
    margin-top: 8px;
    margin-left: 540px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px;
}

nav a:hover {
        color: #f6f6f6d6;
    transition: color 0.3;
    text-decoration: underline;
}

/* Main content */
main {
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: #444;
    text-align: center;
}

article {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

article h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #333;
}

article p {
    margin-bottom: 0.8rem;
}

ul,
ol {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

/* Footer */
footer {
    color: white;
    /* color: #333; */
    background-color: #666;
     /* background-color: #e9ecef; */
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    text-align: center;
}
footer p:hover{
    cursor: pointer;
}